BACKEND_IMAGE_NAME=kienroro/be-sam-editor-backend
BACKEND_IMAGE_TAG=latest

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=sam_editor_db

APP_JWT_SECRET=VGhpc0lzQURlbW9TZWNyZXRLZXlGb3JKV1RUb2tlbkdlbmVyYXRpb24xMjM0NQ==
APP_JWT_EXPIRATION_MS=900000
APP_JWT_REFRESH_EXPIRATION_DAYS=7

APP_OAUTH2_REDIRECT_URI=http://localhost:3000/oauth2/success
GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=github-client-secret
APP_GITHUB_TOKEN=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

APP_OTP_EXPIRY_MINUTES=5
